
version: '3.1'

services:
  drone:
    image: 'drone/drone:1'
    environment:
      DRONE_GITHUB_CLIENT_ID: <client id>
      DRONE_GITHUB_CLIENT_SECRET: <client secret>
      DRONE_RPC_SECRET: drone-secret
      DRONE_SERVER_HOST: <drone host>
      DRONE_SERVER_PROTO: http
    ports:
      - '80:80'
      - '443:443'
      - '2222:22'
    volumes:
      - './temp/drone:/data'
      
  runner:
    image: 'drone/drone-runner-docker:1'
    environment:
      DRONE_RPC_SECRET: drone-secret
      DRONE_RPC_HOST: drone
      DRONE_RPC_PROTO: http
      DRONE_RUNNER_CAPACITY: 2
    ports:
      - '3000:3000'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
    - drone
